.headerRow {
    background-color: rgb(0, 0, 121);
}
.leftPanelButtonDesign {
    border: 0px;
    border-radius: 3px;
}

h1 {
    color: white;
    font-size: 35px;
}

h2 {
    /* color: white; */
    font-size: 28px;
}

.lineSeparator {
    height: 15px;
    border: 0px solid gray;
    /* border-bottom: 1px; */
    margin: 2px;
}
#beforeHistoricalSearchList {
    border-bottom: 2px solid gray ;
    margin-bottom: 15px;
}

#searchField {
    height: 40px;
    border: 1px solid gray;
}

.uvIndexMinimal {
    background-color: green;
}
.uvIndexLow {
    background-color: rgb(255, 242, 0);
}
.uvIndexModerate {
    background-color: orange;
}

.uvIndexHigh {
    background-color: red;
}

.uvIndexVeryHigh {
    background-color: rgb(171, 0, 171);
}

#response {
    /* border: 2px solid gray; */
    margin: 10px;
    margin-left: 25px;
    border-radius: 3px;
}

#userInput {
    /* border: 2px solid gray; */
    margin: 10px;
    margin-left: 25px;
}

.currentWeatherContainer {
    margin: 5px;
    margin-top: 10px;
}

#currentWeatherContainer {
    border: 2px solid gray;
    margin: 5px;
    margin-top: 5px;
    border-radius: 3px;
}

h5 {
    margin: 0px;
    margin-left: 5px;

}

#forecastDisplay {
    margin: 5px;
    justify-content: space-around;
}